.App {
  text-align: center;
  display: flex;
flex-wrap: wrap;
height: 100vh;
width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App .mapContainer {
  /* margin: 0px; */
    height: 100%;
    width: 50%;
  }

.App .contents-list {
  /* margin: 0px; */
    height: 100%;
    width: 25%;
  }

.App .list {
  padding: 0;
  list-style-type: none;
  }

.App .list p{
  text-align: left;
  padding-left: 10px;
  }

/* ---------------------ExtraInfo div-------------------- */
.App .extra-info {
  /* margin: 0; */
    height: 100%;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
  }

.App .extra-info .place-name{
  margin: auto;
  width: 100%;
}

.App .extra-info .best-image-container{
  padding: 5px;
  width: 100%;
  height: 200px;
}

.App .extra-info .best-image-container img{
  width: 100%;
  height: auto;
  border-radius: 10px;

}

.App .extra-info .type{
  text-align: center;
  width: 100%;
}

.App .extra-info .menu{
  text-align: center;
  width: 100%;
}

.App .extra-info .metrics{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.App .extra-info .metrics p{
  width: 33.3%;
  text-align: center;
}

.App .working-hours{
  width: 100%;
  /* height: 200px; */
}


.App  .info-window-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 150px;
  }

.App  .name-address-container {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  width: 50%;
  height: 150px;
  }

.App  .info-window-marker-title {
    width: 100%;
    height: 20%;
  }

.App  .info-window-address {
    width: 100%;
    height: 80%;
  }

.App  .streetview-container {
  order: 1;
  margin: auto;
    width: 50%;
    height: auto;
  }

.App  #pano {
  margin: auto;
    width: 150px;
    height: 150px;
  }
.App  #pano .gm-style{
  margin: auto;
    width: 150px;
    height: 150px;
  }
