.App {
  text-align: center;
  display: flex;
flex-wrap: wrap;
height: 100vh;
width: 100vw;
font-family: 'Quicksand', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ---------------------Menu Icon-------------------- */
.App .menu-icon-container {
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 2;
}

#menuToggle
{

  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.5s ease;
}

#menuToggle span
{
  display: block;
  width: 25px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #667292;
  border-radius: 3px;

  /* z-index: 2; */

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* Transform the shape to an X */

.x-icon #menuToggle
{
  transform: translate(160px);
}

.x-icon #menuToggle  span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #667292;
}

.x-icon #menuToggle span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.x-icon #menuToggle span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(0, -5px);
}

.x-icon #menuToggle span:nth-last-child(3)
{
  transform: rotate(45deg) translate(0, -1px);
}

/* ---------------------Map div-------------------- */

.App .mapContainer {
  /* margin: 0px; */
    height: 100vh;
    width: 70%;
  }

.App .mapContainer .gm-style-mtc{
  left: 40px;
  top: -2px;
  }

  .App  #pano {
    margin: auto;
      width: 150px;
      height: 150px;
    }


  .App  #pano .gm-style{
    margin: auto;
      width: 150px;
      height: 150px;
    }


/* ---------------------Contents div-------------------- */

.App .contents-list {
  /* margin: 0px; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
    position: absolute;
    z-index: 1;
    left: -200px;
    height: 100vh;
    width: 200px;
    background: #daebe8;
    transition: transform 0.5s ease;
    box-sizing: border-box;
    color: #667292;

  }

  .App .contents-list input{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding-left: 10px;
    width: 100%;
    height: 5%;
    padding-top: 10px;
}

  .App .contents-list input:focus{
    border: 2px solid #b7d7e8;
}

  .App .contents-list h1{
    width: 100%;
    height: 15%;
    margin: 0;
    padding-top: 25px;
    box-sizing: border-box;
    text-align: left;
}

.App .move{
transform: translate(200px);
  }

.App .markers-in-list {
  width: 100%;
  height: 80%;
  }

.App .list {
  padding: 0;
  list-style-type: none;
  }

.App .list p {
  margin: 0;
  }

.App .list li{
  padding: 10px 0 10px 0;
  }

.App .list li:hover {
  /* width: 100%;
  height: 80%;*/
  border-top: 1px solid #667292;
  border-bottom: 1px solid #667292;
  }

.App .list p{
  text-align: left;
  padding-left: 10px;
  }




/* ---------------------ExtraInfo div-------------------- */
.App .extra-info {
  /* margin: 0; */
    height: 100vh;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #667292;
    color: #daebe8;
  }

  .App .extra-info-subcontainer {
    height: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position:relative;

}

.App .extra-info .app-title-container{
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Pacifico', cursive;
  display: flex;
align-items: center;
}

.App .extra-info .app-title{
  margin: 0;
  width: 100%;
  text-align: center;
}

.App .extra-info .place-name-container{
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;

}

.App .extra-info .place-name{
  margin: 0;
  width: 100%;
  text-align: center;
}

.App .extra-info .helping-image-container{
  display: block;
  /* padding: 5px; */
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  margin: 0;
}

.App .extra-info .best-image-container{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

.App .extra-info .best-image-container img{
  object-fit: contain;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
}

.App .extra-info .type-container{
  width: 100%;
  height: 5%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;

}

.App .extra-info .type{
  margin: 0;
  width: 100%;
  text-align: center;
}

.App .extra-info .menu-container{
  width: 100%;
  height: 5%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;

}

.App .extra-info .menu{
  margin: 0;
  width: 100%;
  text-align: center;
}

.App .extra-info .metrics{
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-items: center;
}

.App .extra-info .metrics p{
  width: 33.3%;
  text-align: center;
  margin: 0;

}

.App .working-hours-container{
  width: 100%;
  height: 40%;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.App .working-hours-container p{
  width: 100%;
  height: 10%;
  text-align: center;
  margin: 0;
}

.App .working-hours-container .table-container {
  height: 90%;
  width: 100%;
  /* height: 100%; */
  /* display: flex;
  flex-wrap: wrap; */
  /* height: 10%; */
  box-sizing: border-box;
  /* margin: 0;
  display: flex;
  align-items: center; */
}

.App .working-hours {
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-wrap: wrap; */
  /* height: 10%; */
  /* box-sizing: border-box; */
  /* margin: 0;
  display: flex;
  align-items: center; */
}



/* .App .working-hours tr{
  width: 100%;
} */

.App .working-hours tr td{
  padding: 0;
  /* width: 100%; */
}
  /* td {
width:0.1%;
white-space: nowrap;
} */

.App .extra-info .extra-info-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  background: white;
  opacity: 0.7;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  /* width: 100%; */
}

.App .extra-info .extra-info-overlay .overlay-text{
  position: absolute;
  width: 100%;
  color: #667292;
  font-weight: bold;

}

.App .extra-info .hide-overlay {
  display: none;
}

/* ---------------Info Window--------------- */
.App  .info-window-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 150px;
  }

.App  .name-address-container {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  width: 50%;
  height: 150px;
  }

.App  .info-window-marker-title {
    width: 100%;
    height: 20%;
  }

.App  .info-window-address {
    width: 100%;
    height: 80%;
  }

.App  .streetview-container {
  order: 1;
  margin: auto;
    width: 50%;
    height: auto;
  }
