.App {
  text-align: center;
  display: flex;
flex-wrap: wrap;
height: 100vh;
width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* ---------------------Menu Icon-------------------- */
.App .menu-icon-container {
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 2;



}

#menuToggle
{

  -webkit-user-select: none;
  user-select: none;
  transition: transform 0.5s ease;
}

#menuToggle span
{
  display: block;
  width: 25px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  /* z-index: 2; */

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* Transform the shape to an X */

.x-icon #menuToggle
{
  transform: translate(160px);
}

.x-icon #menuToggle  span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

.x-icon #menuToggle span:nth-last-child(2)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.x-icon #menuToggle span:nth-last-child(1)
{
  transform: rotate(-45deg) translate(0, -5px);
}

.x-icon #menuToggle span:nth-last-child(3)
{
  transform: rotate(45deg) translate(0, -1px);
}

/* ---------------------Map div-------------------- */

.App .mapContainer {
  /* margin: 0px; */
    height: 100%;
    width: 70%;
  }

/* ---------------------Contents div-------------------- */

.App .contents-list {
  /* margin: 0px; */
    position: absolute;
    z-index: 1;
    left: -200px;
    height: 100%;
    width: 200px;
    background: white;
    transition: transform 0.5s ease;
    box-sizing: border-box;

  }

  .App .contents-list h1{
    padding-top: 10px;
}

.App .move{
transform: translate(200px);
  }

.App .list {
  padding: 0;
  list-style-type: none;
  }

.App .list p{
  text-align: left;
  padding-left: 10px;
  }




/* ---------------------ExtraInfo div-------------------- */
.App .extra-info {
  /* margin: 0; */
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
  }

.App .extra-info .place-name{
  margin: auto;
  width: 100%;
}

.App .extra-info .best-image-container{
  padding: 5px;
  width: 100%;
  height: 200px;
}

.App .extra-info .best-image-container img{
  width: 100%;
  height: auto;
  border-radius: 10px;

}

.App .extra-info .type{
  text-align: center;
  width: 100%;
}

.App .extra-info .menu{
  text-align: center;
  width: 100%;
}

.App .extra-info .metrics{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.App .extra-info .metrics p{
  width: 33.3%;
  text-align: center;
}

.App .working-hours{
  width: 100%;
  /* height: 200px; */
}


.App  .info-window-container {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 150px;
  }

.App  .name-address-container {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  width: 50%;
  height: 150px;
  }

.App  .info-window-marker-title {
    width: 100%;
    height: 20%;
  }

.App  .info-window-address {
    width: 100%;
    height: 80%;
  }

.App  .streetview-container {
  order: 1;
  margin: auto;
    width: 50%;
    height: auto;
  }

.App  #pano {
  margin: auto;
    width: 150px;
    height: 150px;
  }
.App  #pano .gm-style{
  margin: auto;
    width: 150px;
    height: 150px;
  }
